.card {
    color: white;
    float: left;
    width: calc(31% - 20px);
    padding: 3px;
    border-radius: 10px;
    margin: 10px;
    height: 220px;
    margin-left: 23px;
}
.card p {
    font-size: 18px;
}
.cardContainer:after {
    content: "";
    display: table;
    clear: both;
}